.submit-match {
  overflow: hidden;

  .button {
    margin-right: 8px;
  }

  .input {
    //transition: all 0.3s;
    transition: none;
    max-width: 400px;
    @media (max-width: $md) {
      max-width: 100%;
    }
  }

  .error {
    margin-bottom: 16px;
  }
}